<template name="exercisesList">

    <div class="list-group">

        {{#each exercises}}
            <a href="/exercises/{{_id}}">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="mdi-file-folder"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content"></div>
                        <h4 class="list-group-item-heading">{{name}}</h4>
                        <p class="list-group-item-text">{{description}}</p>
                    </div>
                </div>
            </a>

            <div class="list-group-separator"></div>
        {{/each}}

    </div>
    
</template>