@media (max-width: 768px) {
    .navbar .navbar-accounts {
        background-color: white;
    }
    .navbar .navbar-nav.navbar-accounts .dropdown-toggle {
        background-color: #009688;
    }

    #login-dropdown-list > .dropdown-menu {
        padding: 20px;
    }

}
